
# Temp files
MyMod.gamelog.txt
MyMod.temp

# Games Files
data.win
DELTARUNE.exe
options.ini
steam_api.dll
steam_appid.txt

# OGG Files
snd_power
audiogroup1.dat
AUDIO_INTRONOISE_ch1.ogg
AUDIO_INTRONOISE.ogg
snd_bigcar_yelp.ogg
snd_closet_fall_ch1.ogg
snd_closet_fall.ogg
snd_closet_impact_ch1.ogg
snd_closet_impact.ogg
snd_dtrans_drone.ogg
snd_dtrans_flip.ogg
snd_dtrans_heavypassing.ogg
snd_dtrans_lw.ogg
snd_dtrans_square.ogg
snd_dtrans_twinkle.ogg
snd_fountain_make.ogg
snd_fountain_target.ogg
snd_ghostappear.ogg
snd_great_shine_ch1.ogg
snd_great_shine.ogg
snd_him_quick.ogg
snd_hitcar_little.ogg
snd_hitcar.ogg
snd_icespell.ogg
snd_paper_rumble_ch1.ogg
snd_paper_rumble.ogg
snd_paper_surf_ch1.ogg
snd_paper_surf.ogg
snd_revival_ch1.ogg
snd_revival.ogg
snd_rurus_appear_ch1.ogg
snd_rurus_appear.ogg
snd_smallcar_yelp.ogg
snd_snowgrave.ogg
snd_spell_pacify.ogg
snd_usefountain_ch1.ogg
snd_usefountain.ogg

# Music Files
acid_tunnel.ogg      
alarm_titlescreen.ogg
alley_ambience.ogg   
april_2012.ogg       
AUDIO_ANOTHERHIM.ogg 
AUDIO_DARKNESS.ogg   
AUDIO_DEFEAT.ogg
AUDIO_DRONE.ogg
AUDIO_STORY.ogg
basement.ogg
battle.ogg
berdly_audience.ogg
berdly_battle_heartbeat_true.ogg
berdly_chase.ogg
berdly_descend.ogg
berdly_flashback.ogg
berdly_theme.ogg
bird.ogg
boxing_boss.ogg
boxing_game.ogg
card_castle.ogg
castletown.ogg
castletown_empty.ogg
ch2_credits.ogg
charjoined.ogg
checkers.ogg
coolbeat.ogg
creepychase.ogg
creepydoor.ogg
creepylandscape.ogg
cyber.ogg
cybercity.ogg
cybercity_alt.ogg
cybercity_old.ogg
cyberhouse.ogg
cybershop_christmas.ogg
cyber_battle.ogg
cyber_battle_end.ogg
cyber_battle_prelude.ogg
cyber_shop.ogg
d.ogg
deep_noise.ogg
dogcheck.ogg
dontforget.ogg
elevator.ogg
fanfare.ogg
field_of_hopes.ogg
flashback_excerpt.ogg
forest.ogg
friendship.ogg
GALLERY.ogg
gameover_short.ogg
giant_queen_appears.ogg
gigaqueen_pre.ogg
hip_shop.ogg
home.ogg
honksong.ogg
joker.ogg
KEYGEN.ogg
kingboss.ogg
lancer.ogg
lancerfight.ogg
lancer_susie.ogg
legend.ogg
man.ogg
mansion.ogg
mansion_entrance.ogg
menu.ogg
muscle.ogg
music_guys.ogg
music_guys_intro.ogg
mus_birdnoise.ogg
mus_introcar.ogg
mus_school.ogg
napsta_alarm.ogg
noelle.ogg
noelle_ferriswheel.ogg
noelle_normal.ogg
noelle_school.ogg
ocean.ogg
prejoker.ogg
queen.ogg
queen_boss.ogg
queen_car_radio.ogg
queen_intro.ogg
quiet_autumn.ogg
rouxls_battle.ogg
ruruskaado.ogg
shinkansen.ogg
shop1.ogg
sink_noise.ogg
spamton_basement.ogg
spamton_battle.ogg
spamton_happy.ogg
spamton_house.ogg
spamton_laugh_noise.ogg
spamton_meeting.ogg
spamton_meeting_intro.ogg
spamton_neo_after.ogg
spamton_neo_meeting.ogg
spamton_neo_mix_ex_wip.ogg
static_placeholder.ogg
s_neo.ogg
s_neo_clip.ogg
tense.ogg
the_dark_truth.ogg
THE_HOLY.ogg
thrashmachine.ogg
thrash_rating.ogg
town.ogg
tv_noise.ogg
vs_susie.ogg
w.ogg
wind.ogg
wind_highplace.ogg